.input {
  font-size: 1rem;
  text-align: right;
  border: 1px solid #aaa;
  padding: 0.2rem 2.5rem 0.2rem 0;
  width: 100%;
  margin-bottom: 0.25rem;
  background-color: white;
}

.input-kg {
  padding: 0.2rem 1.5rem 0.2rem 0;
}

.reps {
  margin-left: -2.3rem;
  color: black;
}

.kg {
  margin-left: -1.4rem;
  color: black;
}
