@keyframes dangle {
  0%,
  75% {
    transform: translate3d(0, 0, 0);
  }

  80%,
  90% {
    transform: rotate(10deg);
  }

  85%,
  95% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.dangle {
  animation: dangle 5s infinite ease-out;
}

.loginBtn {
  font-size: 0.9rem;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}
