@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
}

.animate {
  line-height: 1rem;
  margin: 0 0.5rem;
  font-size: 1.8rem;
  animation: spin 1s linear infinite;
}
