* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.workout {
  margin-right: 10rem;
}

h1 {
  margin-bottom: 2rem;
}

div.exercise {
  list-style: none;
  margin-bottom: 2rem;
}

.exercise-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'reps weight'
    'comment comment';
}

.exercise-input input {
  grid-area: comment;
}

.exercise-input select#reps {
  grid-area: reps;
}

.exercise-input select#weight {
  grid-area: weight;
}

.container {
  width: 80%;
}

.workout-program {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.workout {
  display: grid;
}

fieldset {
  padding: 0 1rem;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}
